parameters:

    database:
       host: xxxxd
       username: xxxx
       password: xxx
       database: xxx
       lazy: TRUE
       profiler:
            run: false
            explain: true
            filter: DibiEvent::ALL
            file: log.sql
